.iddl_TopTable_WinXP {border-style:solid;border-width:1px; border-color:#7f9db9; background-color:white; height:19px;}
.iddl_Tr_WinXP {font-family:Arial; font-size:9pt; cursor:pointer;}

.iddl_TopTable_Disabled_WinXP{border-style:solid;border-width:1px; border-color:#c9c7ba; background-color:white; height:19px;}
.iddl_Tr_Disabled_WinXP {color:#aca899; font-family:Arial; background-color:white; font-size:9pt; cursor:pointer;}

.iddl_TdIcon_WinXP {width:21px; padding: 0px 2px 0px 2px;}
.iddl_TdText_WinXP {width:100%; padding: 0px 2px 0px 2px;}
.iddl_TdArrowDown_WinXP {width:15px; }
.iddl_Input_WinXP {z-index:-32000;position:absolute;padding:0px;border:0px;width:0px;}
.iddl_Icon_WinXP {width:17px; height:17px; vertical-align:middle; padding: 0px 2px 0px 2px;}    
.iddl_Text_WinXP {height:17px;overflow:hidden;vertical-align:bottom;}		
.iddl_Focused_WinXP {color:white;background-color:#316ac5;}
		
.iddl_ListItemDiv_WinXP {border:solid 1px black; position:absolute; background-color:white; overflow:auto; display:none; z-index:16000;}
.iddl_ListItemTable_WinXP {padding:0px; border-collapse: collapse;}
.iddl_ListItemTr_WinXP {font-family:Arial; font-size:9pt; cursor:pointer;}
.iddl_ListItemTdIcon_WinXP {width:21px;padding: 0px 2px 0px 2px;}
.iddl_ListItemTdText_WinXP {width:100%;padding: 0px 2px 0px 2px;}
.iddl_ListItemIndex_WinXP {display:none;}
.iddl_ListItemValue_WinXP {display:none;}
.iddl_ListItemIcon_WinXP {width:17px; height:17px; vertical-align:middle; padding: 0px 2px 0px 2px;}    
.iddl_ListItemText_WinXP {}
.iddl_ListItem_Focused_WinXP {color:white;background-color:#316ac5;}

